
{% extends '../base.html' %}

{% block maintitle %}
 Рецепт {{recipe.name}}
{% endblock %}

{% block content %}
    
 <p>
 Полный вес: {{ total_weight}} г. <br>
 Полная стоимость: {{ total_cost }} руб.
 </p>
    
 <h3 class="mt-4">Ингредиенты</h3>
    
 <table class="table table-bordered mt-4">
{# <thead>#}
{#     <tr>#}
{#         <th>Ингредиент</th>#}
{#         <th>Вес (г. на 1 шт.)</th>#}
{#         <th>Стоимость (руб.)</th>#}
{#         <th>Количество (шт.)</th>#}
{#    </tr>#}
{# </thead>#}
  {% for ingredient in recipe_ingredients %}
      <tr>
          <td>{{ingredient.name}}</td>
          <td>{{ingredient.measure }} {{ingredient.measuring }}</td>
          <td>{{ingredient.cost }} pуб.</td>
      </tr>
  {% endfor %}
 </table>
    <h3 class="mt-4">Автор рецепта: {{ recipe.author.username }}</h3> 
<a href="{% url 'main' %}">< Назад</a>
{% endblock %}
